# Python
__pycache__/
*.py[cod]

# Virtual envs
.venv/
venv/
env/
market-venv/
analytics/dbt-env/

# Env / secrets
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Terraform
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log